<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Ingredientes</title>
    <style>
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<h1>Lista de Ingredientes</h1>
<table class="w3-table-all w3-hoverable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Calorias</th>
        <th>Vegetariano</th>
        <th>Inventario</th>
        <th>Sabor</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items%}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.calorias}}</td>
        <td>{{item.vegetariano}}</td>
        <td>{{item.inventario}}</td>
        <td>{{item.sabor}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<a href="{{ url_for('index') }}" >Menú</a>
</body>
</html>